/* Footer */

@mixin theme($text-shadow-color : #15FFF5) {
  text-shadow: 0.55rem 0.55rem $text-shadow-color;
}

#footer {
  @include theme($text-shadow-color : #FFFFFF);

  .form__footer {
    margin: 1rem;
    @include theme;
  }

  .cgv__footer {
    margin: 0.5rem;
    @include theme;
    
    .button {
      margin: 1rem;
      padding: 1rem;
      font-size: 1.5rem;
    }
  } 

  .cgu__footer {
    margin: 0.5rem;
    @include theme;
  }
}